{
    "presets": [
      ["@babel/preset-env", {
          "useBuiltIns": "usage",
          "corejs": 3
      }]
   ],
   "sourceType": "unambiguous"
  }


// module.exports = {
//     presets: [
//       '@quasar/babel-preset-app'
//     ],
  
//     "sourceType": "unambiguous"
//   }